node_modules
.parcel-cache
dist
playground
.next
.husky
.prettierignore
.stylelintignore
.eslintignore
doc
src/site.webmanifest
*.png
src/js/vendor
src/img
src/fonts
*.min.*
*.sh
**/.gitignore
**/_headers
.editorconfig
