@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /**
  ################################################################################
  LAYOUT ELEMENTS
  ################################################################################
  ########################################
  CONTAINERS
  ########################################
   */
  .container-xl {
    @apply py-40;
  }

  .container-lg {
    @apply py-32;
  }

  @media (width >= 768px) {
    .container-xl {
      @apply py-48;
    }

    .container-lg {
      @apply py-40;
    }
  }

  @media (width >= 1024px) {
    .container-xl {
      @apply py-52;
    }

    .container-lg {
      @apply py-48;
    }
  }

  @container (width >= 0) {
    .container-xl {
      @apply py-40;
    }

    .container-lg {
      @apply py-32;
    }
  }

  @container (width >= 768px) {
    .container-xl {
      @apply py-48;
    }

    .container-lg {
      @apply py-40;
    }
  }

  @container (width >= 1024px) {
    .container-xl {
      @apply py-52;
    }

    .container-lg {
      @apply py-48;
    }
  }

  /**
  ########################################
  BLOCKS
  ########################################
 */
  .element:not(:last-child) {
    @apply mb-6;
  }

  /**
  ########################################
  Sizing
  ########################################
 */
  .full-x {
    @apply w-full;
  }

  .full-y {
    @apply h-full;
  }

  .full {
    @apply h-full w-full;
  }

  .absolute.full-top,
  .fixed.full-top {
    @apply top-0 left-0 right-0;
  }

  .parent .child {
    &.full-x {
      @apply left-0 right-0;
    }

    &.full-y {
      @apply top-0 bottom-0;
    }

    &.full {
      @apply top-0 bottom-0 left-0 right-0;
    }
  }

  .h-device {
    @apply h-full min-h-[667px] md:min-h-[768px] max-h-screen;
  }

  /**
  ########################################
  POSITIONING
  ########################################
 */
  .parent {
    @apply relative;

    .child {
      @apply absolute;
    }
  }

  .flex-center {
    @apply flex justify-center;
  }

  .flex-v-center {
    @apply flex flex-col justify-center;
  }

  .flex-v-between {
    @apply flex flex-col justify-between;
  }

  /**
  ########################################
  Transitions
  ########################################
 */
  .hover-float {
    @apply transition-transform will-change-transform duration-300 hover:-translate-y-1;
  }

  .hover-shadow {
    @apply hover:shadow-2xl;
  }

  /**
  ########################################
  Images
  ########################################
 */
  .bg-full {
    @apply bg-center bg-cover bg-no-repeat;
  }

  /**
  ########################################
  Buttons
  ########################################
 */
  .btn {
    --background-color: theme('colors.primary.600');
    --border-color: theme('colors.primary.800');
    --color: theme('colors.white');
    --hover-background-color: theme('colors.primary.200');
    --hover-border-color: theme('colors.primary.200');
    --hover-color: theme('colors.primary.900');
    --ring-color: theme('colors.primary.500');
    --disabled-background-color: theme('colors.primary.500');
    --disabled-color: theme('colors.white');

    &.plain {
      --background-color: theme('colors.white');
      --border-color: theme('colors.gray.200');
      --color: theme('colors.black');
      --hover-background-color: theme('colors.gray.400');
      --hover-border-color: theme('colors.gray.400');
      --hover-color: theme('colors.black');
      --ring-color: theme('colors.gray.500');
      --disabled-background-color: theme('colors.gray.200');
      --disabled-color: theme('colors.black');
    }

    &.btn-light {
      --background-color: theme('colors.primary.200');
      --border-color: theme('colors.primary.300');
      --color: theme('colors.primary.900');
      --hover-background-color: theme('colors.primary.600');
      --hover-border-color: theme('colors.primary.600');
      --hover-color: theme('colors.white');
      --ring-color: theme('colors.primary.600');
      --disabled-background-color: theme('colors.primary.50');
      --disabled-color: theme('colors.primary.900');
    }

    &.btn-light-outline {
      @apply hover:shadow-sm hover:shadow-primary-700;

      --background-color: theme('colors.primary.900' / 0%);
      --border-color: theme('colors.primary.500');
      --color: theme('colors.primary.500');
      --hover-background-color: theme('colors.gray.900' / 0%);
      --hover-color: theme('colors.primary.300');
      --hover-border-color: theme('colors.primary.300');
      --ring-color: theme('colors.primary.600');
      --disabled-background-color: theme('colors.gray.100');
      --disabled-color: theme('colors.primary.600');

      &:disabled,
      &.disabled,
      &.active {
        @apply hover:shadow-lg;
      }
    }

    &.btn-dark {
      --background-color: theme('colors.primary.900');
      --border-color: theme('colors.primary.600');
      --color: theme('colors.white');
      --hover-background-color: theme('colors.primary.600');
      --hover-border-color: theme('colors.primary.600');
      --hover-color: theme('colors.white');
      --ring-color: theme('colors.primary.600');
      --disabled-background-color: theme('colors.primary.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-dark-gray {
      --background-color: theme('colors.gray.900');
      --border-color: theme('colors.gray.600');
      --color: theme('colors.white');
      --hover-background-color: theme('colors.gray.600');
      --hover-border-color: theme('colors.gray.600');
      --hover-color: theme('colors.white');
      --ring-color: theme('colors.gray.600');
      --disabled-background-color: theme('colors.gray.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-outline {
      --background-color: theme('colors.primary.900' / 0%);
      --border-color: theme('colors.primary.600');
      --color: theme('colors.primary.600');
      --hover-background-color: theme('colors.gray.100');
      --hover-color: theme('colors.primary.900');
      --hover-border-color: theme('colors.primary.900');
      --ring-color: theme('colors.primary.600');
      --disabled-background-color: theme('colors.primary.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-secondary {
      --background-color: theme('colors.secondary.600');
      --border-color: theme('colors.secondary.600');
      --color: theme('colors.white');
      --hover-background-color: theme('colors.secondary.200');
      --hover-color: theme('colors.secondary.900');
      --hover-border-color: theme('colors.secondary.200');
      --ring-color: theme('colors.secondary.600');
      --disabled-background-color: theme('colors.secondary.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-secondary-outline {
      --background-color: theme('colors.secondary.900' / 0%);
      --border-color: theme('colors.secondary.600');
      --color: theme('colors.secondary.600');
      --hover-background-color: theme('colors.secondary.100');
      --hover-color: theme('colors.secondary.900');
      --hover-border-color: theme('colors.secondary.900');
      --ring-color: theme('colors.secondary.600');
      --disabled-background-color: theme('colors.secondary.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-tertiary {
      --background-color: theme('colors.tertiary.600');
      --border-color: theme('colors.tertiary.600');
      --color: theme('colors.white');
      --hover-background-color: theme('colors.tertiary.200');
      --hover-color: theme('colors.tertiary.900');
      --hover-border-color: theme('colors.tertiary.200');
      --ring-color: theme('colors.tertiary.600');
      --disabled-background-color: theme('colors.tertiary.500');
      --disabled-color: theme('colors.white');
    }

    &.btn-tertiary-outline {
      --background-color: theme('colors.tertiary.900' / 0%);
      --border-color: theme('colors.tertiary.600');
      --color: theme('colors.tertiary.600');
      --hover-background-color: theme('colors.tertiary.100');
      --hover-color: theme('colors.tertiary.900');
      --hover-border-color: theme('colors.tertiary.900');
      --ring-color: theme('colors.tertiary.600');
      --disabled-background-color: theme('colors.tertiary.500');
      --disabled-color: theme('colors.white');
    }

    @apply px-4 py-2 rounded-lg shadow-lg border;

    border-color: var(--border-color);
    background-color: var(--background-color);
    color: var(--color);

    &:hover,
    &.hover,
    &.active {
      background-color: var(--hover-background-color);
      border-color: var(--hover-border-color);
      color: var(--hover-color);
    }

    &:focus,
    &.focus {
      @apply ring-2 ring-offset-2 outline-0;

      --tw-ring-color: var(--ring-color);
    }

    &:disabled,
    &.disabled {
      background-color: var(--disabled-background-color);
      border-color: var(--disabled-background-color);
      color: var(--disabled-color);

      &:hover,
      &.hover {
        @apply cursor-default;

        background-color: var(--disabled-background-color);
        border-color: var(--disabled-background-color);
        color: var(--disabled-color);
      }

      &:focus,
      &.focus {
        @apply ring-0;
      }
    }

    &.btn-sm {
      @apply py-1 px-2 rounded-md shadow-md;
    }

    &.btn-lg {
      @apply py-4 px-8 shadow-xl;
    }

    &.btn-xl {
      @apply py-6 px-12 shadow-2xl;
    }

    &.btn-full {
      @apply w-full max-w-7xl;
    }

    &.btn-r-none {
      @apply rounded-none;
    }

    &.btn-r-sm {
      @apply rounded-md;
    }

    &.btn-r-lg {
      @apply rounded-xl;
    }

    &.btn-r-xl {
      @apply rounded-2xl;
    }

    &.btn-r-full {
      @apply rounded-full;
    }
  }
}

@layer utilities {
  .radial-gradient {
    background: radial-gradient(var(--tw-gradient-stops));
  }
}
